<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Expense Report</title>
		<link rel="icon" href="/images/2.png" type="image/x-icon" />
		<link rel="stylesheet" href="/css/loder.css" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="/css/footer.css" />
		<link rel="stylesheet" type="text/css" href="/css/report.css" />
		<!-- Include your CSS file here -->
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href=""><img src="/images/2.png" /></a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse fs-5" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/dashboard"
								>Home</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/report">report</a>
						</li>
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								Trip
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item " href="/addtrip">Add Trip</a></li>
								<li>
									<a class="dropdown-item" href="/addexpenses">Add Expenses</a>
								</li>
							</ul>
						</li>
					</ul>
                    <div class="btn-group">
						<a
							class="nav-link dropdown-toggle logout"
							href="#"
							role="button"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							<i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
						</a>

						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/logout">Logout</a></li>
						</ul>
					</div>
                    
				</div>
			</div>
		</nav>

		<h1>Expense Report</h1>
		<form method="get" action="/report">
			<label for="tripName">Enter Trip Name:</label>
			<input type="text" id="tripName" name="tripName" required />
			<button type="submit">Generate Report</button>
			<button id="printButton"><i class="fa fa-print"> </i> Print Report</button>
		</form>

		<!-- Display expenses here -->

		<table>
			<thead>
				<tr>
					<th colspan="4">
						<div class="image-logo">
							<img src="/images/2.png" alt="Travel Tips Image" /><br />

							Travel Expenses Tracker<br />
							
					</th>
				</tr>

				<tr>
					<% if (trips && trips.length > 0) { %> <% trips.forEach((trip) => { %>
					<th class="tg-0lax" colspan="2">
						<a>Place : </a><%= trip.place %><br /><br /><a>Country : </a><%=
						trip.country%><br /><br /><a>Trip Type : </a><%= trip.trip_type
						%><br /><br />
					</th>
					<th class="tg-0lax" colspan="2">
						<a>Name: <%= trip.username %></a> <br /><br /><a>Start date : </a
						><%= formatDate(trip.start_date) %><br /><br /><a>End date : </a><%=
						formatDate(trip.end_date) %>
					</th>
				</tr>
				<% }); %> <% } else { %>
					<tr>
						<td colspan="4" class="no-data-trip">
							No data found for This Trip.
						</td>
					</tr>
					<% } %>

				<tr>
					<th>Date</th>
					<th>Category</th>
					<th>Description</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<% if (expenses && expenses.length > 0) { %> <% expenses.forEach((expense) => { %>
				<tr>
					<!-- Format the date here using the formatDate function -->
					<td><%= formatDate(expense.date) %></td>
					<td><%= expense.category %></td>
					<td><%= expense.description %></td>
					<td><i class="fa fa-inr" aria-hidden="true"></i> <%= expense.amount %></td>
				</tr>
				<% }); %> <% } else { %>
					<tr>
						<td colspan="3" class="no-data-trip">No data found for This Trip.</td>
					</tr>
					<% } %>
                <tr>
                    <td colspan="3" class="total"><strong>Total:</strong></td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> <%= parseFloat(totalAmount).toFixed(2) %></td>
                </tr>
			</tbody>
		</table>

		<footer>
			<div class="footer-content">
				<h3>Travel Expenses Tracker</h3>
				<p>
					And then there is the most dangerous risk of all – the risk of
					spending your life not doing what you want on the bet you can buy
					yourself the freedom to do it later. Lorem ipsum dolor sit amet,
					consectetur adipisicing elit.
				</p>
				<ul class="socials">
					<li>
						<a href="#"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-google-plus"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-youtube"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-linkedin-square"></i></a>
					</li>
				</ul>
			</div>
			<div class="footer-bottom">
				<div class="footer-menu">
					<ul class="f-menu">
						<li><a href="/dashboard">Home</a></li>
						<li><a href="/aboutus">About</a></li>
						<li><a href="/traveltips">Traveling Tips</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-copyright">
				<p>
					copyright &copy;
					<a href="#">Travel Expenses Tracker All Rights Reserves.</a>
				</p>
			</div>
		</footer>
		<div class="inline">
			<p class="spinner" id="spinner"><i class="fa fa-spinner fa-5x"></i></p>
		</div>
		<script>
			document.onreadystatechange = function () {
				if (document.readyState !== "complete") {
					document.querySelector("body").style.visibility = "hidden";
					document.querySelector("#spinner").style.visibility = "visible";
				} else {
					document.querySelector("#spinner").style.display = "none";
					document.querySelector("body").style.visibility = "visible";
				}
			};
		</script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
		<script src="/js/print.js"></script>
	</body>
</html>
